---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif}')

const { coverImage, mediaType, title, slug, tags } = Astro.props;
let tagClasses = "";

tags.forEach((tag) => {
  let formattedTag = tag.replaceAll(" ", "-").toLowerCase()
  tagClasses += formattedTag + " ";
})
if (!images[coverImage]) throw new Error(`"${coverImage}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
---
<a class="card-container" href={"/cisl-visualization-gallery/visualizations/" + slug} data-tags={tagClasses}>
  <div class="card hoverable">
    <div class="card-tag">
      <img src={"/cisl-visualization-gallery/icons/" + mediaType.toLowerCase() + "-tag.svg"} alt={"This visualization is of type " + mediaType}/>
      <p>{mediaType.replace(/\w\S*/g, text => text.charAt(0).toUpperCase() + text.substring(1).toLowerCase())}</p>
    </div>
    <Image class="card-image" src={images[coverImage]()} alt={title} />
    <h4 class="card-title">{title}</h4>
  </div>
</a>

<style>
  .card-container {
    z-index: 2;
    flex: 0 0
    calc(
      100% / var(--gallery-items-per-row) - var(--gallery-gap) *
        (var(--gallery-items-per-row) - 1) / var(--gallery-items-per-row)
    );
  }

  .card {
    display: flex;
    flex-grow: 1;
    position: relative;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    height: 100%;
    box-shadow: rgba(60, 64, 67, 0.2) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }

  .card-tag {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #f5f5f5dd;
    backdrop-filter: blur(5px);
    margin: 0.75em;
    padding: 0.35em 0.65em;
    border-radius: 0.9em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    font-style: italic;
    font-weight: 300;
    font-size: 0.85em;
  }

  .card-tag:hover {
    background-color: white;
  }

  .card-tag img {
    max-height: 1.15em; 
  }

  .card-title {
    font-weight: normal;
    line-height: 150%;
    padding: 1.15em;
    font-weight: 400;
    color: #274659;
    border-top: solid thin rgb(209, 209, 209);
  }

  .card-image {
    max-width: 100%;
    object-fit: cover; 
    aspect-ratio: 1 / 1 !important;
    height: auto;
    display: block;
    
  }
  
  .focused-card {
    transform: translateY(-5px);
    box-shadow: rgba(60, 64, 67, 0.5) 0px 4px 12px 0px, rgba(60, 64, 67, 0.2) 0px 8px 20px 2px;
  }

  /* @media (max-width: 1360px) {
    .card-container {
      width: 24%;
    }

    .card-image {
      height: 15em;
    } 
  }

  @media (max-width: 1100px) {
    :root {
      --gallery-items-per-row: 3;
    }

    .card-image {
      height: 15em;
    }   
  } 

  @media (max-width: 1000px) {
    .card-image {
      height: 12em;
    } 
  }

  @media (max-width: 780px) {
    .card-title {
      font-size: 0.9em;
    }
  }

  @media (max-width: 720px) {
    .card-title {
      font-size: 0.85em;
    }

    .card-image {
      height: 10em;
    }

  }

  @media (max-width: 600px) {
    :root {
      --gallery-items-per-row: 2;
    }


    .card-image {
      height: 10em;
    } 
  } */
</style>

<script>
  function generateCards(){
    const cards = document.querySelectorAll('.card');

    cards.forEach(card => {
      card.addEventListener('mouseover', () => {
          cards.forEach(c => {
              if (c !== card) {
                  c.classList.add('unfocused-card');
              }
          });
          card.classList.add('focused-card');
      });

      card.addEventListener('mouseout', () => {
          cards.forEach(c => {
              c.classList.remove('unfocused-card');
          });
          card.classList.remove('focused-card');
      });
    });
  }
  generateCards();

  document.addEventListener('astro:after-swap', () => {
    generateCards();
  });
  
</script>