---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif}')

const {postLabel, postTitle, postDate, postAuthor, postImage} = Astro.props;

---

<div id="post-heading-container">
    <Image class="data-hidden" src={images[postImage]()} alt={postTitle} data-pagefind-meta="image[src]"/>
    <h3 id="post-label">{postLabel.toUpperCase()}</h3>
    <h2 data-pagefind-meta="title" id="post-title">{postTitle}</h2>
    <h3 id="post-date-author">{postDate} | {postAuthor ? postAuthor : "VAST Staff"}</h3>
</div>

<style>
    #post-heading-container {
        background: #2c2c2c;
        padding: 3.5em;
        color: white;
    }

    #post-label {
        font-style: italic;
        font-weight: 300;
    }

    #post-title {
        font-size: 1.75em;
        font-weight: 400;
        padding: 0.25em 0 0.25em 0;
    }

    #post-date-author {
        font-weight: 300;
    }

    @media (max-width: 1060px) {
        #post-title {
            font-size: 1.5em;
        }

        #post-heading-container h3 {
            font-size: 1em
        }
    }

    @media (max-width: 780px) {
        #post-title {
            font-size: 1.15em;
        }

        #post-heading-container {
            padding: 2em;
        }

        #post-heading-container h3 {
            font-size: 0.75em
        }
    }
</style>